body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1E;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#root{
  margin: 0;
  position: relative;
  min-height: 100vh;
}
